<div class="center" style="text-align: center">
  <h1 style="font-size: 2.5vw">youtube playlist hot word analyser</h1>
</div>

<div class="center" style="text-align: center">
  <span class="center p-input-icon-right">
    <label style="width: 175px" id="float-input"
      >a random video of the channel: &nbsp;
    </label>
    <i class="pi pi-spin pi-spinner"></i>
    <input type="text" pInputText [(ngModel)]="inputString" />&nbsp;
  </span>
  <button
    pButton
    pRipple
    type="button"
    icon="pi pi-search"
    class="p-button-rounded p-button-success"
    (click)="getPlaylists()"
  ></button>
  <br /><br />
  <div *ngIf="channelTitle">
    <span><b>{{channelTitle}}'s playlists</b></span>
    <div class="array-container">
      <ul>
        <li
          *ngFor="let item of playlistTitles"
          (click)="selectItem(item)"
          [class.selected]="item === selectedItem"
        >
          {{ item }}
        </li>
      </ul>
    </div>
<br><br><br>
    <div *ngIf="selectedItem">
      <span>videos from <b>{{channelTitle}}</b>'s playlist <b>{{selectedItem}}</b></span>
    <div class="array-container">
      <ul>
        <li
          *ngFor="let item of playListItems"
          (click)="selectItem(item)"
          [class.selected]="item === selectedItem"
        >
          {{ item }}
        </li>
      </ul>
    </div>
    </div>


  </div>
</div>
