<div class="center" style="text-align: center">
  <h1 >youtube playlist tool</h1>
</div>

<div class="center" style="text-align: center">
  <span class="center p-input-icon-right">
    <label style="width: 175px" id="float-input"
      >a random video of the channel: &nbsp;
    </label>
    <i class="pi pi-spin pi-spinner"></i>
    <input type="text" pInputText [(ngModel)]="inputString" />&nbsp;
  </span>
  <button
    pButton
    pRipple
    type="button"
    icon="pi pi-search"
    class="p-button-rounded p-button-success"
    (click)="getPlaylists()"
  ></button>
  <br /><br />
  <div *ngIf="channelTitle">
    <span
      ><b>{{ channelTitle }}'s playlists</b></span
    >

    <div class="array-container">
      <ul>
        <li
          *ngFor="let item of playlistTitles"
          (click)="selectItem(item)"
          [class.selected]="item === selectedItem"
        >
          <img src="{{ item?.snippet?.thumbnails?.default?.url }}" /><br />
          {{ item.snippet.title }}
        </li>
      </ul>
    </div>

    <div *ngIf="sortedWords">
      <b>🔥Hot Words in {{ selectedItem.snippet.title }}🔥</b><br />
      <div class="center" style="text-align: center; display: inline-flex">
        <div
          style="
            border: 1px solid rgb(34, 63, 107);
            border-radius: 2px;
            padding: 5px;
            background-color: rgb(199, 209, 241);
          "
          *ngFor="let sortedWords of sortedWords | slice : 0 : 10"
        >
          <span>{{ sortedWords }}</span>
        </div>
      </div>
    </div><br>

    <div *ngIf="selectedItem">
      <span
        >videos from <b>{{ channelTitle }}</b
        >'s playlist <b>{{ selectedItem.snippet.title }}</b></span
      >
      <div class="array-container">
        <ul>
          <li
            *ngFor="let item of playListItems"
            [class.selected]="item === selectedItem"
          >
            <span (click)="startVideoPlayer(item.snippet.resourceId.videoId)"
              ><img src="{{ item?.snippet?.thumbnails?.default?.url }}" /></span
            ><br />
            <span (click)="startVideoPlayer(item.snippet.resourceId.videoId)" >{{ item.snippet.title }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<app-youtube-player videoId="HWqkh98cVa4"></app-youtube-player>